@font-face {
    font-family: 'overdoze sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://github.com/IsamiRi/overdoze-sans/raw/main/overdozesans.otf) format('otf');
}

@font-face {
  font-family: 'nunito';
  src: local("Nunito"), url("../assets/fonts/Nunito.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}