.constructor {
    background-image: data-uri("wall.jpg");
    background-repeat: repeat-x;
    margin-top: 10px;

    &__container {
        .container();
        width: 100%;
        margin: 100px 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__append {
        margin: 10px 0 10px;
        width: 200px;
    }

    &__submit {
        margin-top: 200px;
        width: 400px;
    }
}