.rating {
    background-image: data-uri("wall.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    margin-top: 10px;
    
    &__container {
        .container();
        width: 100%;
        margin: 100px 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text,
    &__rating-text {
        font-family: 'nunito';
        color: @blue-dark;
        margin: 0;
    }

    &__text{
        font-size: 150px;
    }

    &__rating-text{ 
        font-size: 300px;
    }

    &__wrapper{
        width: 1335px;
        height: 640px;
        border: 10px solid @blue-dark;
        border-radius: 50px;
        background-color: @white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}