.regisration{
    display: flex; 
    justify-content: center; 
    align-items: center;

    &__container{
        padding: 15px;
    }

    &__text{
        font-family: 'nunito';
        color: @blue-dark;
        font-size: 64;   
        margin: 15;
    }

    &__button{
        .btn();
    }

}



